.index{
    display: flex;
    height: 100%;
    background: #f0f0f0;
    width: 100%;
}
/* <!-- 头部 --> */
.header{
    height: 0.435rem;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: -webkit-flex;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
    color: #fff;
}
.header div{
    overflow: hidden;
}
.header div:first-of-type i,.header div:last-of-type i{
    display: block;
    margin-top: 0.015rem;
    height: 0.42rem;
    width: 0.435rem;
    line-height: 0.435rem;
    font-size: 0.22rem;
    text-align: center;
}
.header div:first-of-type{
    padding: 0 0.085rem;
}
.header div:nth-of-type(2){
    width: 2.49rem;
    height: 100%;
    display: flex;
    margin-top: 0.015rem;
}
.header div:last-of-type{
    padding: 0 0.05rem;
    font-weight: 900;
}
.header div:nth-of-type(2) span{
    display: block;
    height: 0.285rem;
    background: #f0f0f0;
    margin-top: 0.075rem;
    font-size: 0.14rem;
    color: #838383;
}
.header div:nth-of-type(2) span:nth-of-type(1){
    width: 0.32rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header div:nth-of-type(2) span:nth-of-type(2){
    flex: 1;
}
.header div:nth-of-type(2) span:nth-of-type(3){
    width: 0.3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 
.header div:nth-of-type(2) span i{
    display: block;
    font-size: 0.14rem;
    color: #838383;
    height: 0.285rem;
    line-height: 0.3rem;
    font-weight: 900;
}
.header div:nth-of-type(2) input{
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 0.14rem;
    color: #838383;
    line-height: 0.3rem;
}
/* <!-- section --> */
.section{
    flex: 1;
    overflow-y: scroll;
}
/* 轮播图 */
.banner{
    height: 2.555rem;
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container img{
    width: 100%;
    height: 100%;
}
.newPerson{
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    padding: 0.09rem 0.15rem 0.24rem;
    background: #fff;
}
.newPerson img{
    width: 100%;
    height: 100%;
}
.sectionTwo{
    box-sizing: border-box;
    padding: 0.09rem 0.15rem;
    background: #fff;
    margin-top: 0.1rem;
}
.sectionTwo img{
    height: 4.1rem;
}
.sectionThree{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-top: 0.1rem;
}
.sectionThree h4{
    padding: 0 0.15rem;
    margin-top: 0.215rem;
    margin-bottom: 0.12rem;
    font-size: 0.15rem;
    line-height: 0.15rem;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.sectionThree h4 span{
    border-left: 4px solid #000;
    text-indent: 0.15rem;
    display: block;
}
.sectionThree div{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
}
.sectionThree a{
    display: block;
    width: 25%;
    height: 1.025rem;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.sectionThree a:nth-of-type(4n){
    border-right: 0;
}
.sectionThree a img{
    width: 100%;
    height: 100%;
}
.sectionNine{
    background: #fff;
    margin-top: 0.1rem;
}
.sectionNine div:first-of-type{
    box-sizing: border-box;
    padding: 0.13rem 0.15rem;
    width: 100%;
}
.sectionNine div:first-of-type img{
    width: 100%;
}
.sectionNine div:last-of-type{
    box-sizing: border-box;
    padding: 0.06rem 0.15rem 0.15rem;
    display: flex;
    overflow-x: scroll;
}
.sectionNine div:last-of-type img{
    width: 1.3rem;
    height: 0.88rem;
    padding-right: 0.15rem;
}
.recommend{
    margin-top: 0.1rem;
    overflow: hidden;
}
.downBanner{
    background: #fff;
    overflow: hidden;
}
.downBanner h4{
    padding: 0 0.15rem;
    margin-top: 0.215rem;
    margin-bottom: 0.12rem;
    font-size: 0.15rem;
    line-height: 0.15rem;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.downBanner h4 span{
    border-left: 4px solid #000;
    text-indent: 0.15rem;
    display: block;
}
.upbanner{
    border-top: 1px solid #e5e5e5;
    width: 100%;
    padding: 0.15rem;
    box-sizing: border-box;
    height: 2.46rem;
}
.downBanner>div:last-of-type{
    /* background: #ac0; */
    padding-left: 0.15rem;
    padding-bottom: 0.09rem;
    display: -webkit-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.downBanner>div:last-of-type img{
    width: 1.3rem;
    height: 0.88rem;
    padding-right: 0.15rem;
    flex-shrink: 0;
}
.mayBeLike{
    margin-top: 0.1rem;
    background: #fff;
    overflow: hidden;
}
.mayBeLike h4{
    padding: 0 0.15rem;
    margin-top: 0.215rem;
    margin-bottom: 0.12rem;
    font-size: 0.15rem;
    line-height: 0.15rem;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.mayBeLike h4 span{
    border-left: 4px solid #000;
    text-indent: 0.15rem;
    display: block;
}
.mayBeLike div{
    display: -webkit-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}